<form action="/compare" method="post">
  First Steam_id: <input type="text" name="steam_id1"><br>
  Seccond Steam_id: <input type="text" name="steam_id2"><br>
  <input type="submit" value="Submit">
</form>